<%- include header.ejs%>
<form enctype="multipart/form-data" method="post" name="registerForm">
    <p class="info-item">
        <label for="name">姓名：</label>
        <input type="text" name="name" id="name">
    </p>
    <p class="info-item">
        <label for="age">年龄：</label>
        <input type="number" name="age" id="age">
    </p>
    <p class="info-item">
        <label for="tel">电话：</label>
        <input type="tel" name="tel" id="tel">
    </p>
    <p class="info-item">
        <label for="email">邮箱：</label>
        <input type="email" name="email" id="email">
    </p>
    <p class="info-item">
        <label for="password">密码：</label>
        <input type="password" name="password" id="password">
    </p>
    <p class="info-item">
        <label for="rePassword">确认密码：</label>
        <input type="password" name="rePassword" id="rePassword">
    </p>
    <p class="info-item">
        <label for="avatar">上传头像：</label>
        <input type="file" accept="image/*" name="avatar" id="avatar">
    </p>
    <p>
        <input class="register" type="button" value="注册">
    </p>
</form>
<%- include footer.ejs%>
<script type="text/javascript">
    var apiUrl = 'http://127.0.0.1:3000/';


    $(".register").click(function () {
        // let name = $("#name").val();
        // let age = $("#age").val();
        // let tel = $("#tel").val();
        // let email = $("#email").val();
        // let avatar = $("#avatar")[0].files;
        // let params = {
        //     name,
        //     age,
        //     tel,
        //     email,
        //     avatar
        // };
        // formdata.append('name',name);
        // console.log(formdata);

        var form = document.forms.namedItem('registerForm');
        var formdata = new FormData(form);
        $.ajax({
            type: 'post',
            xhrFields: {
                withCredentials: true
            },
            crossDomain: true,
            url: apiUrl + 'register',
            data: formdata,
            processData: false, //不处理数据(用于对data参数进行序列化处理 这里必须false)
            contentType: false, //不设置内容类型
            success: function (res) {
               console.log('res', res);
               if (!res.success) {
                  $(".error-toast").text(res.err).show();
                   if (res.err === '您已登录') {
                       window.location.replace('/personalInfo');
                   }
                  return false;
               }
                $(".error-toast").hide();
               window.location.replace('/personalInfo');
            },
            error(msg) {
                console.error(msg);
            }
        })
    });
</script>