<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div class="page">
    <div class="content">
        <ul class="left-slider">
            <% if (!user) { %>
                <li><a href="/login">登录</a></li>
                <li><a href="/register">注册</a></li>
            <% } else { %>
                <li><a href="/personalInfo">个人信息</a></li>
                <li><a href="/logout">退出登录</a></li>
            <% } %>
        </ul>
        <h1 class="page-title"><%= title%></h1>
        <div class="error-toast"></div>