<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
</head>
<body>
<header>
    <h1><%=title%></h1>
</header>
<nav>
    <span><a href="/" title="主页">home</a></span>
    <%if (!!user) {%>
        <span><a href="/post" title="发表">post</a></span>
        <span><a href="/logout" title="登出">logout</a></span>
    <%} else {%>
        <span><a href="/login" title="登录">login</a></span>
        <span><a href="/register" title="注册">register</a></span>
    <%}%>
</nav>
<article>
    <% if (success) { %>
        <%= success %>
    <% } %>
    <% if (error){ %>
        <%= error %>
    <% } %>