<%- include header.ejs%>
<form method="post">
    <label for="title">
        标题：
    </label>
    <input name="title" type="text" id="title" value="">
    <br>
    <label for="post">
        正文：
    </label>
    <textarea name="post" id="post"></textarea>
    <br>
    <input type="submit" value="发表">
</form>
<%- include footer.ejs%>