<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .btn{
            outline: none;
        }
        .btn.active{
            background: red;
            color: #fff;
        }
        .post-item.active{
            background: red;
            color: #fff;
        }
        .modal{
            width: 100%;
            height: 100%;
            position: fixed;
            left: 0;
            top: 0;
            background: rgba(0,0,0,0.5);
        }
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div id="app" v-cloak>
    <div>
        <button class="btn"
                v-for="tab in tabs"
                :class="currentTab === tab ? 'active': ''"
                @click="currentTab = tab">{{tab}}</button>
        <keep-alive>
            <component :is="currentComponent"></component>
        </keep-alive>
        <comp v-bind.sync="doc"></comp>
        v-model test : {{test}}
        <sync-test v-model="test" v-bind.sync="syncVal" :baz.sync="baz"></sync-test>
        <button @click="onTest">$on test</button>
        filterNumber :  {{5 | formatNumber(10)}}
        filterNumber2： {{5 | formatNum2(100)}}
    </div>
    <div class="modal" v-show="showModal"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="javascript/bundle.js"></script>
<script>
    Vue.filter('formatNum2', (num1, num2) => {
        return num1 * num2;
    });
    Vue.component('tab-btc',{
        template: `<div>
    <ul class="post-list">
    <li
    v-for="post in posts"
    class="post-item"
    :class="[currentPost === post? 'active':'']"
    @click="currentPost = post">{{post.name}}</li>
</ul>
<div class="post-content" v-if="currentPost">
    {{currentPost.content}}
</div>
</div>`,
        data() {
            return {
                posts: [{
                    id: 1,
                    name: 'post1',
                    content: 'post1 content.'
                },{
                    id: 2,
                    name: 'post2',
                    content: 'post2 content.'
                },{
                    id: 3,
                    name: 'post3',
                    content: 'post3 content.'
                }],
                currentPost: ''
            }
        }
    });
    Vue.component('tab-eth', {
        template: `<div><p>tab-eth</p></div>`
    });
    Vue.component('tab-usdt', {
        template: `<div><p>tab-usdt</p></div>`
    });

    Vue.component('comp',{
        template: `<div>{{foo}} , {{bar}}
    <button @click="changeFooBar">changeFooBar</button>
</div>`,
        props: ['foo', 'bar'],
        methods: {
            changeFooBar() {
                this.$emit('update:foo', this.foo + '!');
                this.$emit('update:bar', this.bar + '!');
            }
        }
    });
    Vue.component('syncTest', {
        template: `<div>
{{test1}}, {{test2}}, {{baz}}
<br>
{{arr}}
<br>
model: {{foo}}
    <button @click="changeValue">changeVal</button>
</div>`,
        model: {
          prop: 'foo',
          event: 'update'
        },
        data() {
            return {

            }
        },
        props: ['test1', 'test2', 'baz', 'arr', 'foo'],
        methods: {
            changeValue() {
                this.$emit('update:test1', this.test1 +'?');
                this.$emit('update:test2', this.test2 +'?');
                this.$emit('update:baz', this.baz + '?');
                this.$emit('update', this.baz);
                this.$root.eventHub.$emit('showModal');
            }
        }
    });
    // Vue.prototype.$eventHub= Vue.prototype.$eventHub ||  new Vue();
    var vm = new Vue({
        data: {
            test: 'test',
            baz: 'baz',
            showModal: false,
            syncVal: {
                test1: 'test1',
                test2: 'test2'
            },
            msg: 'hello world',
            doc: {
                foo: 'foo',
                bar: 'bar'
            },
            arr: [1,23,5],
            tabs: [
                'btc',
                'eth',
                'usdt'
            ],
            currentTab: 'btc',
            eventHub: new Vue()
        },
        filters: {
            formatNumber(number, num2) {
                return number + num2;
            }
        },
        computed: {
            currentComponent() {
                return `tab-${this.currentTab}`
            }
        },
        mounted() {
            let hub = this.$root.eventHub;
            hub.$on('showModal', () => {
                this.showModal = true;
            });
        },
        beforeDestroy() {
            this.$root.eventHub.$off();
        },
        methods: {
            onTest() {
                this.$root.eventHub.$emit('showModal');
            }
        }
    }).$mount('#app')
</script>
</body>
</html>